@{
    ViewData["Title"] = "Confirmación de reseteo de password";
}

<h2>@ViewData["Title"]</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>
    Por favor chequear el correo para el reseteo del password.
</p>
