@{
    ViewData["Title"] = "Confirmación de reseteo";
}

<h2>@ViewData["Title"]</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>
    Tu contraseña a sido modificada. Por favor <a asp-action="Login">presionar aquí para hacer login</a>.
</p>
