@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <br />
    300 Norte, 300 Oeste Colegio de Santa Ana San Jose Costa Rica<br />
    <abbr title="Teléfono">P:</abbr>
    60903139
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:estebanusaga@gmail.com">Soporte estebanusaga@gmail.com</a><br />
 
</address>
