@{
    ViewData["Title"] = "Bienvenido";
}


<h1>
    Bienvenido
</h1>
<p>
    Con la herramienta de Reporter puedes tomar evidencias en tiempo real de de productos.
</p>

<img src="~/images/wall.jpg" class=".responsive"/>