<h2>
    @{

        ViewData["Title"] = "Registrar Producto";

}
</h2>
    <h2>@ViewData["Title"]</h2>
    <h2>@ViewData["Message"]</h2>

    <title>Registro de producto.</title>
    <div class="form-group">
        <label for="codReportLabel">Reporte</label> <label for="codReport">#99832</label>
        <label for="codRutaLabel">Ruta</label> <label for="codRuta">#RUTA HEREDIA CENTRO</label>
        <div class="form-group">
            <label for="sel1">Comercio:</label>
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>1</option>
                <option>2</option>
                <option>3132</option>
                <option>4123</option>
                <option>1</option>
                <option>2</option>
                <option>3123</option>
                <option>4</option>
                <option>123</option>
                <option>2123</option>
                <option>3231</option>
                <option>4123</option>
                <option>1231</option>
                <option>1232</option>
                <option>3</option>
                <option>4</option>
                <option>3132</option>
                <option>4123</option>
                <option>1</option>
                <option>2</option>
                <option>3123</option>
                <option>4</option>
                <option>123</option>
                <option>2123</option>
                <option>3231</option>
                <option>4123</option>
                <option>1231</option>
                <option>1232</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Producto:</label>  <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>

        </div>
    </div>
    <label for="sel1">Pregunta:</label>
    <br>
    <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Option 2</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Option 3</label>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="2" id="comment"></textarea>
    </div>

    <button id="snap" class="btn btn-success centercontrols">Generar Reporte</button>
    <div class="divTable" style="justify-content:center">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">
                    <video id="video" width="250" height="250" autoplay class="centercontrols"></video>
                </div>
            </div>


            <div class="divTableRow">
                <div class="divTableCell">
                    <canvas id="canvas" width="300" height="300" class="centercontrols" style="display: none;"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Put event listeners into place
        window.addEventListener("DOMContentLoaded", function () {
            // Grab elements, create settings, etc.
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');
            var mediaConfig = { video: true };
            var errBack = function (e) {
                console.log('An error has occurred!', e)
            };

            // Put video listeners into place
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({
                    video: true
                })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (error) {
                        console.log('error', error);
                    });

            }



            /* Legacy code below! */
            else if (navigator.getUserMedia) { // Standard
                navigator.getUserMedia(mediaConfig, function (stream) {
                    video.src = stream;
                    video.play();
                }, errBack);
            } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
                navigator.webkitGetUserMedia(mediaConfig, function (stream) {
                    video.src = window.webkitURL.createObjectURL(stream);
                    video.play();
                }, errBack);
            } else if (navigator.mozGetUserMedia) { // Mozilla-prefixed
                navigator.mozGetUserMedia(mediaConfig, function (stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                }, errBack);
            }

            // Trigger photo take
            document.getElementById('snap').addEventListener('click', function () {
                context.drawImage(video, 25, 0, 250, 200);
            });
        }, false);

    </script>

