@model StoreReport.Models.Franchise

@{
    ViewData["Title"] = "Detalle de franquicia";
}
<br />
<br />
<br />
<h1>Detalle de franquicia</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Fecha creación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            <div class="input-group mb-3">
                <select asp-for="Status" class="custom-select" id="inputGroupSelect01" disabled>
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                </select>
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retornar a la lista</a>
</div>
