@model StoreReport.Models.Store

@{
    ViewData["Title"] = "Agregar tienda";
}


<h2>Información de la tienda.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactName" class="control-label">Nombre del contacto</label>
                <input asp-for="ContactName" class="form-control" />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Teléfono</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Dirección</label>
                <textarea asp-for="Address" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="control-label" for="inputGroupSelect01">Estado</label>
                </div>
                <select asp-for="Status" class="custom-select" id="inputGroupSelect01">
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="control-label" for="inputGroupSelect01">Franquicia</label>
                </div>

                @{
                    SelectList list = new SelectList(new List<SelectListItem>() );
                list =  ViewBag.StoreList;

                }

                @Html.DropDownList("StoreList", list, "N/A")


            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#StoreList").change(function () {
                        document.getElementById("FranchiseIDValue").value = $(this).val();
                    });
                });
            </script>
             
            <div class="form-group" hidden>
                <label asp-for="FranchiseID" class="control-label"></label>
                <input asp-for="FranchiseID" class="form-control"  id="FranchiseIDValue"/>
                <span asp-validation-for="FranchiseID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <br>
                    <input type="submit" value="Agregar tienda" class="btn btn-default" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
