@model StoreReport.Models.ProductType

@{
    ViewData["Title"] = "Eliminar tipo de producto";
}

<br />
<br />
<br />
<h1>Esta seguro que desea eliminar el tipo de producto?</h1>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductTypeID" />
        <input type="submit" value="Eliminar" class="btn btn-success" /> |
        <a asp-action="Index">Retornar a la lista</a>
    </form>
</div>
