@model StoreReport.Models.ProductType

@{
    ViewData["Title"] = "Detalle de tipo de producto";
}

<br />
<br />
<br />
<div>
    <h1>Tipo de producto</h1>
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductTypeID">Editar</a> |
    <a asp-action="Index">Retornar a la lista</a>
</div>
