.body {
    font-family: 'Roboto', sans-serif;
    
    /*/* Location of the image */
    /*background-image: url('../images/blurstore.jpg');*/*/
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;
  
  
}

.search {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 2vw;
}

.centercontrols {
     display:block;
     margin: 0 auto;
}

.footer {


    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: white;
}

/* Podemos eliminar este estilo si no queremos que se adapte al ancho máximo */
.delimitador {
    width: 560px; /* Ancho máximo */
    margin: auto; /* Centramos el vídeo */
}
/* El contenedor con el padding-top crea el tamaño del vídeo */
.contenedor {
    height: 0px;
    width: 100%;
    padding-top: 56.25%; /* Relación: 16/9 = 56.25% */
    position: relative;
}

.responsive {
    width: 100%;
    height: auto;
}