body {
    padding-top: 50px;
    padding-bottom: 20px;
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.paging-nav {
    /*text-align: right;*/
    padding-top: 2px;
}



    .paging-nav a {
        margin: auto 1px;
        text-decoration: none;
        display: inline-block;
        padding: 1px 7px;
        background: #5b6167;
        color: white;
        border-radius: 3px;
        font-size: 15px;
    }



    .paging-nav .selected-page {
        background: #187ed5;
        font-weight: bold;
    }



.paging-nav {
    width: 400px;
    /*margin: 0 auto;*/
    font-family: Arial, sans-serif;
}

.responsive {
    width: 100%;
    height: auto;
}
   