
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


.selectpickerlocal{
    width: 300px;
    height: 30px;
    background-color: white;
    border-style: solid;
    border-left-width: 3px;
    border-left-color: #00DDDD;
    border-top: none;
    border-bottom: none;
    border-right: none;
    color: black;
    font-size: 18px;
    font-weight: 200;
    padding-left: 6px;
}

body {
    font-family: 'Roboto Condensed' sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
}

h1 {
    font-weight: 400;font-size: 2.5rem; text-transform:uppercase; margin: 0;
}
h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform:capitalize;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    
}

main {
    max-width: 900px; margin:auto; box-shadow: 30px 0px 40px rgba(0,0,0,0.1), -30px 0px 40px rgba(0,0,0,0.1);
}

headertable {
    background: #eee;
}

#landing-text
{
    display: flex;
    flex: 0 1 60vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

    #landing-text h2 {
        color: #888;
    }

#landing-image {
    background: url(https://images.unsplash.com/photo-1519405277839-34781a311ed3?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
}

@media(min-width: 600px) {
    #landing {
        display: flex;
        height: 100%;
    }
}

#landing-text {
    height: 100vh;
}

#landing-image {
    height: 100vh;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.paging-nav {
    /*text-align: right;*/
    padding-top: 2px;
}

@media(min-width: 700px) {
    .btn {
        padding: 1rem 3rem;
    }
}


    .paging-nav a {
        margin: auto 1px;
        text-decoration: none;
        display: inline-block;
        padding: 1px 7px;
        background: #5b6167;
        color: white;
        border-radius: 3px;
        font-size: 15px;
    }



    .paging-nav .selected-page {
        background: #187ed5;
        font-weight: bold;
    }



.paging-nav {
    width: 400px;
    /*margin: 0 auto;*/
    font-family: Arial, sans-serif;
}

.responsive {
    width: 100%;
    height: auto;
}

/* DivTable.com */
.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
    padding: 0 5px;
    line-height: 10px;
}
* {
    outline: 0;
    font-family: sans-serif
}
.hide-select {
    display: none;
}



