@model StoreReport.Models.UserByRoute

@{
    ViewData["Title"] = "Create";
}
<br />
<br />
<br />
<h1>Asignar ruta a usuario</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label">Usuario</label>



                @{
                    SelectList list = new SelectList(new List<SelectListItem>());
                    list = ViewBag.userlist;

                }

                @Html.DropDownList("UserEmail", list)

            </div>
            <div class="form-group">
                <label asp-for="RouteId" class="control-label">Identificación de la ruta</label>

                

                @{
                    SelectList routelist = new SelectList(new List<SelectListItem>());
                    routelist = ViewBag.routelist;

                }

                @Html.DropDownList("RouteID", routelist)
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Asignar ruta a usuario" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar a la lista</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
